.course-actions {
    display: flex;
    gap: 20px;
}

.course-action {
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    justify-content: space-between;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

.course-action-info {
    display: flex;
    align-items: center;
}

.course-action-info > div > p {
    font-size: 18px;
    font-weight: bold;
}

.course-action-info > div > span {
    font-size: 18px;
    font-weight: 350;
    color: gray;
}

.course-action-icon {
    align-content: center;
    padding: 10px;
    margin: 5px;
    color: #fb8c2e;
    background-color: #fde9da;
    border-radius: 7px;
    margin-right: 23px;
}

.course-action-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    display: flex;
    align-items: center;
}

.course-action-calendar {
    background-color: #fde9da;
    border: 2px solid #f3702133;
}

.course-action-chat {
    background-color: #f9fafb;
    border: 2px solid #dde3ea;
}
