.app-sidebar {
    display: flex;
    flex-direction: column;
    padding: 17px;
    flex: 0 0 87px;
    gap: 15px;
    background-color: #f9fafb;
    border-right: 2px solid #dde3ea;
    overflow: visible;
}

.app-sidebar-course {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    width: 100%;
    height: 55px;
    border-radius: 12px;
    background-color: #f0f3f6;
    border: 2px solid #dde3ea;
    color: #475569;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 700;

    text-decoration: none;
    box-sizing: border-box;
}

.app-sidebar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-sidebar-course:hover {
    cursor: pointer;
    background-color: rgba(253, 158, 99, 0.2);
    border: 2px solid #fb8c2e;
    color: #fb8c2e;
}

.app-sidebar-section {
    background-color: #f37021;
    border: none;
    color: white;
}

.app-sidebar-logout {
    margin-top: auto;
}

.app-sidebar-course.active::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);

    width: 3px;
    height: 34px;
    border-radius: 999px;
    background-color: #f37021;
}

.app-sidebar-course.active {
    background-color: rgba(253, 158, 99, 0.2);
    border: 2px solid #fb8c2e;
    color: #fb8c2e;
}

.app-sidebar-course .app-sidebar-tooltip {
    display: none;
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f3f6;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    border: 2px solid #dde3ea;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    z-index: 100;
}

.app-sidebar-course:hover .app-sidebar-tooltip {
    display: flex;
}