.chat-content-main-toolbar {
    flex: 0 0 auto;
    border-top: 2px solid #3f3f3f;
    padding-top: 10px;
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.chat-content-main-toolbar-clip-wrapper {
    position: relative;
}

.chat-content-main-toolbar-options {
    position: absolute;
    bottom: 55px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;
    background-color: #303030;
    border: 2px solid #3f3f3f;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    z-index: 20;
}

.chat-content-main-toolbar-options p {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.chat-content-main-toolbar-option:hover {
    background-color: #373737;
}

.chat-content-main-toolbar-clip {
    border: 2px solid #3f3f3f;
    background-color: #373737;
    color: #b3b3b3;
    padding: 11px;
    padding-top: 14px;
    border-radius: 10px;
    align-items: end;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.chat-content-main-toolbar-clip:active {
    transform: scale(0.93);
    background-color: #373737;
}

.chat-content-main-toolbar-clip:hover {
    background-color: #494949;
}

.chat-content-main-toolbar-clip:disabled {
    cursor: not-allowed;
    opacity: 0.55;
}

.chat-content-main-toolbar-clip:disabled:hover {
    background-color: #373737;
}

.chat-content-main-toolbar-input {
    min-width: 0;
    flex: 1;
    border: 2px solid #3f3f3f;
    background-color: #373737;
    padding: 0 15px;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
}

.chat-content-main-toolbar-input.disabled {
    cursor: not-allowed;
}

.chat-content-main-toolbar-send {
    background-color: #f37021;
    color: white;
    padding: 11px 15px;
    padding-top: 14px;
    border: none;
    border-radius: 10px;
    align-items: end;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.chat-content-main-toolbar-send:hover {
    background-color: #bb5515;
}

.chat-content-main-toolbar-send:disabled {
    cursor: not-allowed;
    opacity: 0.55;
}

.chat-content-main-toolbar-send:disabled:hover {
    background-color: #f37021;
}

.chat-content-main-toolbar-send:active {
    transform: scale(0.93);
}
