.news-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--app-surface);
    border: 1px solid var(--app-border-color);
    border-radius: 12px;
}

.news-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--app-border-color);
    padding-bottom: 13px;
}

.news-card-header > h3 {
    font-size: 16px;
    font-weight: 730;
    color: var(--app-accent-color);
    font-family: "Inter";
}

.news-card-body {
    padding: 9px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-card-body > h2 {
    color: var(--app-text-color);
    font-family: "Inter";
    font-size: 21px;
    font-weight: 700;
}

.news-card-body > p {
    color: var(--app-muted-text-color);
    font-family: "Inter";
    font-size: 17px;
    font-weight: 400;
}

.news-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    border-top: 1px solid var(--app-border-color);
    padding-top: 14px;
    color: var(--app-muted-text-color);
}

.news-card-footer > h4 {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 600;
    color: var(--app-muted-text-color);
}
