.home-grid-next-class {
    grid-column: 4;
    grid-row: 1;
    line-height: 1.6;
}

.home-grid-next-class > h3 {
    color: #f37021;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 700;
}

.home-grid-next-class > h2 {
    color: #ffffff;
    font-family: "Inter";
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 7px
}

.home-grid-next-class > p {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 7px;
    color: #b3b3b3;
}

.home-grid-next-class > button {
    background-color: #f37021;
    border: none;
    padding: 10px;
    color: white;
    font-family: "Inter";
    font-weight: 650;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.home-grid-next-class > button:hover {
    background-color: #bb5515;
}
