.home-grid-next-class {
    grid-column: 4;
    grid-row: 1;
    line-height: 1.7;
}

.home-grid-next-class > h3 {
    color: #f37021;
    font-family: "Oswald";
    font-size: 19px;
    font-weight: 450;
}

.home-grid-next-class > h2 {
    font-size: 20px;
    padding-bottom: 7px
}

.home-grid-next-class > p {
    font-family: "Lato";
    font-size: 17px;
    padding-bottom: 7px;
    color: gray;
}

.home-grid-next-class > button {
    background-color: #f37021;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.home-grid-next-class > button:hover {
    background-color: #d85f16;
}
