.section-hero {
    line-height: 1.5;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--app-border-color);
}

.section-hero-eyebrow {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--app-accent-color);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 650;
}

.section-hero-eyebrow > svg {
    width: 18px;
    height: 18px;
}

.section-hero > h2 {
    color: var(--app-text-color);
    font-family: "Inter";
    font-size: 34px;
    font-weight: 750;
}

.section-hero > span {
    color: var(--app-muted-text-color);
    font-family: "Inter";
    font-size: 17px;
    font-weight: 400;
}
