.course-resources {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--app-surface);
    border: 2px solid var(--app-border-color);
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
}

.course-resources-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--app-border-color);
}

.course-resources-header > p {
    color: var(--app-accent-color);
    font-size: 13px;
    font-weight: 800;
    font-family: "Inter";
}

.course-resources-header > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.course-resources-header-folders {
    color: var(--app-muted-text-color);
    font-size: 15px;
    font-family: "Inter";
}

.course-resource {
    display: flex;
    flex-direction: column;
    background-color: var(--app-surface-soft);
    border: 2px solid var(--app-border-color);
    border-radius: 9px;
    padding: 15px;
    gap: 8px;
}

.course-resource > p {
    font-weight: 650;
    font-family: "Inter";
}

.course-resource-files {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}
