.course-resources {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #222222;
    border: 2px solid #3f3f3f;
    border-radius: 8px;
    margin-top: 20px;
    padding: 15px;
}

.course-resources-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #3f3f3f;
}

.course-resources-header > p {
    color: #f37021;
    font-size: 13px;
    font-weight: 800;
    font-family: "Inter";
}

.course-resources-header > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.course-resources-header-folders {
    color: #b3b3b3;
    font-size: 15px;
    font-family: "Inter";
}

.course-resource {
    display: flex;
    flex-direction: column;
    background-color: #373737;
    border: 2px solid #3f3f3f;
    border-radius: 9px;
    padding: 15px;
    gap: 8px;
}

.course-resource > p {
    font-weight: 650;
    font-family: "Inter";
}

.course-resource-files {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}
