.home-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 10px;
    line-height: 1.3;
    color: var(--app-text-color);
    font-family: "Inter";
}

.home-grid > div {
    background-color: var(--app-surface);
    border: 2px solid var(--app-border-color);
    border-radius: 10px;
    padding: 14px;
    min-height: 0;
}
